<!DOCTYPE html>
<html>
<head>
	<title>Vue js</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<body>
	<div id="app" class="container">

		<ul>
			<li v-for="(value, key) in user">{{ key }}: {{value}}</li>
		</ul>
		<!--<h4>Todas las tareas</h4>

		<ul>
			<li v-for="task of tasks">
				{{ task.title }}
			</li>
		</ul>

		<h4 v-if="pendingTasks.length">Tareas pendientes</h4>
		<ul v-if="pendingTasks.length">
			<li v-for="task in pendingTasks">
				{{ task.title }}
			</li>
		</ul>-->

		<!--<template v-for="(tarea, indice) in tasks" v-if="tarea.pending">
			{{ tarea.title }}
			<hr>
		</template>-->
		<footer class="footer">
			<p>&copy; 2017 Erickzh</p>
		</footer>
	</div>

	<script src="https://unpkg.com/vue"></script>

	<script type="text/javascript">
		var vm = new Vue({
			el: "#app",
			data: {
				/*tasks: [
					{
						title: 'Aprender Vue.js',
						pending: false
					},
					{
						title: 'Aprender Django',
						pending: false
					},
					{
						title: 'Aprender Angular 5',
						pending: false
					}
				]*/
				user: {
					'First Name': 'Erick',
					lastName: 'Zarate',
					username: 'ErickZH',
					website: 'erickzh.github.io',
					description: 'Web Developer'
				}
			}/*,
			computed:{
				pendingTasks: function(){
					return this.tasks.filter(function(item) {
						return item.pending;
					});
				}
			}*/
		});
	</script>	
</body>
</html>